* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: #141414;
    font-family: 'Open Sans', sans-serif;
    color: white;
    min-height: 200vh;
}
/* Iconos */
i {
    width: 20px;
    height: 20px;
}
/* NAVBAR */

.navbar{
    position: sticky;
    top: 0;
    display: flex;
    padding: 0 4%;
    min-height: 68px;
    align-items: center;
    font-size: small;
    /* background-color: blueviolet; */
    z-index: 150; /* para que esté por encima del header(pelicula principal)*/
}

.navbar_logo {
    display: flex;
}

.navbar_logo > img {
    height: 50px;
}

.navbar_browse {
    flex: 1 0 auto;
    /* parametro 1 (agranda todo lo que quieras en la pagina) 0 (le dice que no se achique nunca de su espacio) auto (que decida que espacio va a ocupar) */
    /* flex: <flex-grow> <flex-shrink> <flex-basis> */
    margin-left: 32px;
}

.navbar_browse > ul {
    list-style: none;
}

.navbar_browse > ul > li {
    display: inline;
    margin-left: 16px;
}

.navbar_browse > ul > li:first-child {
    margin-left: 0;
}

.navbar_browse > ul > li:not(.navbar_browse-activo) > a:hover {
    /* aplica a todos los li menos el activo porque ese ya esta"seleccionado" y queremos que al resto se le apliquen los efectos hover*/
    color: gray;
}

.navbar_browse > ul > li > a {
    text-decoration: none;
    transition: all 200ms ease-in; /*transicion para que el hover sea mas suave */
    color: inherit;   /*Blanco del body */
}

.navbar_browse-activo {
    font-weight: bold;
}

.navbar_menu {
    display: flex;
    align-items: center;
}

.navbar_menu > i {
    margin-right: 16px;
    cursor: pointer;
}

.navbar_menu > i:last-child {
    margin-right: 0;
}

/* NAVBAR MOBILE */

.navbar_browse_mobile {
    display: none;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
    .navbar_browse {
        display: none;
    }
    .navbar_browse_mobile {
        display: block;
        position: relative;
        flex: 1 0 auto;
        margin-left: 32px;
    }

    .navbar_browse_mobile_list {
        position: absolute;
        top: 45px;
        /* right: 150px; */
        display: none;
        border-radius: 4px;
        background-color: #141414;
        opacity: 85%;
    }
    .navbar_browse_mobile_list > ul {
        list-style: none;
    }
    .navbar_browse_mobile:hover > .navbar_browse_mobile_list {
        display: block;
    }
    .navbar_browse_mobile_list > ul > li{
        display: flex;
        justify-content: center; 
        padding: 20px 20px;
    }

    .navbar_browse_mobile p {
        margin-left: 0;
    }

    .navbar_browse_mobile_list > ul > li:not(.navbar_browse-activo) > a:hover {
        color: gray;
    }
    .navbar_browse_mobile_list > ul > li > a {
        text-decoration: none;
        transition: all 200ms ease-in; 
        color: white;
    }
}

/* HEADER SECTION (Pelicula principal) */

.header {
    position: relative;  /* relative porque queremos darle una posicion relativa para que "suba" y este a la altura (height) del navbar*/
    margin-top: -68px;
    height: 100vh; /* 100 % del viewport height */
    width: 100%;
}

.header > video {
    /* que se adapte el video al contenedor definido del header */
    height: 100%; /* se usa % porque esta definido en el padre */
    width: 100%;
    object-fit: cover; /* para que el video este siempre centrado (en ancho y alto de la pantalla) */
    opacity: 0.65;
}

.header_information {
    position: absolute;  /* en el medio del video queremos la informacion*/
    top: 50%;
    transform: translate(0,-50%);
    padding-left: 50px;
}

.header_information > * {
    margin-top: 32px;
}

.header_information > *:first-child {
    margin-top: 0;
}

.header_information_type {
    display: flex;
    align-items: center;
}

.header_information_type > h2 {
    margin-left: 12px;
    text-transform: uppercase; /* todo a mayusculas */
    font-weight: bold;
    letter-spacing: 10px;
}

.header_information_text > h1 {
    font-size: 100px;
    width: 40vw;
    line-height: 90px;
    height: auto;
}

.header_information_actions {
    display: flex;
}

.header_information_actions > button {
    margin-left: 16px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    outline: 0; /* para que no aparezca el borde como pulsado*/
    cursor: pointer;
    padding: 4px 36px;
    transition: opacity 400ms ease-in;
}

.header_information_actions > button > i {
    margin-right: 12px;
    font-size: 24px;
    line-height: 0.9;
}

.header_information_actions > button:first-child {
    margin-left: 0;
}

.header_information_actions > button:last-child {
    background-color: rgba(109,109,110,0.7);
    color: white;
}

.header_information_actions > button:hover {
    opacity: 0.5;
}
