/* Paleta de colores:
Naranja: #FFBF00
ROJO: #FF003C
LINEAR-GRADIENT: TO BOTTOM, DESDE NARANJA, A ROJO
NEGRO: #141414 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #141414;
    font-family: 'Open Sans', sans-serif;
    color: white;
    /* min-height: 200vh; */
}

/* Iconos */
i {
    width: 20px;
    height: 20px;
}

/* NAVBAR */

.navbar{
    position: sticky;
    top: 0;
    display: flex;
    padding: 0 4%;
    min-height: 68px;
    align-items: center;
    font-size: small;
    /* background-color: blueviolet; */
    z-index: 150; /* para que esté por encima del header(pelicula principal)*/
}

.navbar_logo {
    display: flex;
}

.navbar_logo > a > img {
    height: 36px;
}

.navbar_browse {
    flex: 1 0 auto;
    /* parametro 1 (agranda todo lo que quieras en la pagina) 0 (le dice que no se achique nunca de su espacio) auto (que decida que espacio va a ocupar) */
    /* flex: <flex-grow> <flex-shrink> <flex-basis> */
    margin-left: 32px;
}

.navbar_browse > ul {
    list-style: none;
}

.navbar_browse > ul > li {
    display: inline;
    margin-left: 16px;
}

.navbar_browse > ul > li:first-child {
    margin-left: 0;
}

.navbar_browse > ul > li:not(.navbar_browse-activo) > a:hover {
    /* aplica a todos los li menos el activo porque ese ya esta"seleccionado" y queremos que al resto se le apliquen los efectos hover*/
    color: gray;
}

.navbar_browse > ul > li > a {
    text-decoration: none;
    transition: all 200ms ease-in; /*transicion para que el hover sea mas suave */
    color: inherit;   /*Blanco del body */
}

.navbar_browse-activo {
    font-weight: bold;
}

.navbar_menu {
    display: flex;
    align-items: baseline;
    font-size: 16px;
}

.navbar_menu > * { /* de i cambiamos a * para que el margin tambien afecte a el search hecho con javascript*/
    margin-right: 20px;
    cursor: pointer;
}

.navbar_menu > i:last-child {
    margin-right: 0;
}

.navbar_menu_search {
    display: flex;
    align-items: baseline;
    position: relative;
}

.navbar_menu_search > #searchInput { /* se usa el id como hijo y no directamente porque al crearse una pagina de una seccion por ejemplo  "Series" podriamos llegar a usar un id con el mismo valor y podria generar conflicto */
    border: 1px solid #fafafa;
    background-color: rgb(69, 69, 69);
    padding: 4px 8px;
    outline: none;
    color: white;
    border-radius: 4px;
    margin-right: 16px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease-in;
}

.search_list_container {
    position: absolute;
    top: 40px;
    left: 0;
    background: rgb(71, 71, 71);
    width: 100%;
    border-radius: 10px;
    display: none;
}

.search_list_container > ul {
    list-style: none;
}

.search_list_container > ul > li {
    padding: 16px 12px;
    border-bottom: 1px solid #fafafa;
}

.search_list_container > ul > li:last-child {
    border-bottom: 0;
}

/* NAVBAR MOBILE */

.navbar_browse_mobile {
    display: none;
}


/* HEADER SECTION (Pelicula principal) */

.header {
    position: relative;  /* relative porque queremos darle una posicion relativa para que "suba" y este a la altura (height) del navbar*/
    margin-top: -68px;
    height: 100vh; /* 100 % del viewport height */
    width: 100%;
}

.header > video {
    /* que se adapte el video al contenedor definido del header */
    height: 100%; /* se usa % porque esta definido en el padre */
    width: 100%;
    object-fit: cover; /* para que el video este siempre centrado (en ancho y alto de la pantalla) */
    opacity: 0.65;
}

.header_information {
    position: absolute;  /* en el medio del video queremos la informacion*/
    top: 50%;
    transform: translate(0,-50%);
    padding-left: 50px;
}

.header_information > * {
    margin-top: 32px;
}

.header_information > *:first-child {
    margin-top: 0;
}

.header_information_type {
    display: flex;
    align-items: center;
}

.header_information_type > img {
    height: 32px;
    width: 32px;
}

.header_information_type > h2 {
    margin-left: 12px;
    text-transform: uppercase; /* todo a mayusculas */
    font-weight: bold;
    letter-spacing: 10px;
}

.header_information_text > h1 {
    font-size: 100px;
    width: 40vw;
    line-height: 90px;
    height: auto;
}

.header_information_actions {
    display: flex;
}

.header_information_actions > button {
    margin-left: 16px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    outline: 0; /* para que no aparezca el borde como pulsado*/
    cursor: pointer;
    padding: 4px 36px;
    transition: opacity 400ms ease-in;
}

.header_information_actions > button > i {
    margin-right: 12px;
    font-size: 24px;
    line-height: 0.9;
}

.header_information_actions > button:first-child {
    margin-left: 0;
}

.header_information_actions > button:last-child {
    background-color: rgba(109,109,110,0.7);
    color: white;
}

.header_information_actions > button:hover {
    opacity: 0.5;
}

/* MOBILE INFORMATION ACTIONS */
.mobile_header_information_actions {
    display: none;
}

/* MAIN SECTION */
.main {
    position: relative;
    margin-top: -18vh;
    padding-bottom: 10vh;
    overflow-x: scroll;
    overflow-y: hidden;
    /* Mozilla hide scrollbar */
    scrollbar-width: none;
}
/* Safari y Chrome hide scrollbar */
.main::-webkit-scrollbar {
    display: none;
}

.main > :first-child{
    background: linear-gradient(to bottom, transparent 6vh, #141414 20vh);
}

:root {
    --flecha-size: 3rem;
    --img-gap: .25rem;
}

.carousel:not(:first-child) {
    padding-top: 1.2rem;
}

.carousel-container {
    display: flex;
    justify-content: center;
}

.slider {
    --items-per-screen: 4;
    --slider-index: 0;
    display: flex;
    flex-grow: 1;
    margin: 0 var(--img-gap);
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: transform 350ms ease-in-out;
}

.slider > img {
    flex: 0 0 calc(100% / var(--items-per-screen));
    max-width: calc(100% / var(--items-per-screen));  /* para que las imagenes no superen este tamaño aunque sean mas grandes*/
    aspect-ratio: 16 / 9;
    opacity: 0.99;
    padding: var(--img-gap);
    border-radius: 1rem;
    cursor: pointer;
}

.slider > img:hover {
    transform: scale(1.2);
    z-index: 10;
}

.flecha {
    border: none;
    border-radius: 1rem;
    flex-grow: 0;
    flex-shrink: 0;
    width: 5rem;
    background-color:rgba(0, 0, 0, .25);
    z-index: 10;
    margin: var(--img-gap) 0;
    width: var(--flecha-size);
    cursor: pointer;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 0;
    transition: background-color 150ms ease-in-out;
}

.left-flecha {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.right-flecha {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.flecha:hover,
.flecha:focus {
    background-color: rgba(255, 255, 255, .5);
}

.text {
    transition: transform 150ms ease-in-out;
}

.flecha:hover .text,
.flecha:focus .text {
    transform: scale(1.2);
}

.carousel-header {
    display: flex;
    justify-content: space-between;
    padding: .5rem calc(var(--img-gap) * 2 + var(--flecha-size));
}

.title {
    font-size: 1.6rem;
    margin: 0;
}

.progress-bar {
    display: flex;
    align-items: center;
    gap: .25rem;
}

.progress-item {
    flex: 0 0 1.5rem;
    min-width: 1.5rem;
    height: .5rem;
    background: rgba(255, 255, 255, .5);
}

.progress-item.active {
    background: rgba(255, 255, 255, .9);
}


/* FOOTER SECTION */
footer {
    padding: 32px 48px;
}

footer > * {
    margin-top: 32px;
}

footer > *:first-child {
    margin-top: 0;
}

footer > .footer_socialmedia > *:not(:first-child) {
    margin-left: 12px;
}

footer > .footer_info > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

footer > .footer_info > ul > li {
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    padding: 8px 0;
    flex: 1 0 25%;
}

footer > .footer_info > ul > li > a {
    text-decoration: none;
    color: inherit;
}

footer > .footer_info > ul > li > a:hover {
    text-decoration: underline;
}

footer > .footer_copyright {
    font-size: 12px;
    font-weight: normal;
    color: gray;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
    .navbar_browse {
        display: none;
    }

    .navbar_browse_mobile {
        display: block;
        position: relative;
        flex: 1 0 auto;
        margin-left: 32px;
    }

    .navbar_browse_mobile_list {
        position: absolute;
        top: 45px;
        /* right: 150px; */
        display: none;
        border-radius: 4px;
        background-color: #141414;
        opacity: 85%;
    }

    .navbar_browse_mobile_list > ul {
        list-style: none;
    }

    .navbar_browse_mobile:hover > .navbar_browse_mobile_list {
        display: block;
    }

    .navbar_browse_mobile_list > ul > li{
        display: flex;
        justify-content: center; 
        padding: 20px 20px;
    }

    .navbar_browse_mobile p {
        margin-left: 0;
    }

    .navbar_browse_mobile_list > ul > li:not(.navbar_browse-activo) > a:hover {
        color: gray;
    }

    .navbar_browse_mobile_list > ul > li > a {
        text-decoration: none;
        transition: all 200ms ease-in; 
        color: white;
    }
    
    /* HEADER SECTION */
    .header_information {
        padding-left: 24px;
    }

    .header_information_text > h1 {
        font-size: 48px;
        width: 90vw;
    }

    .header_information_actions {
        display: none;
        /* flex-direction: column; */
        /* align-items: 80%; */
    }

    /* .header_information_actions > button {
        margin-left: 0;
        margin-top: 8px;
    } */

    .mobile_header_information_actions {
        /* si pongo display block se queda trabado como column */
        display: flex;
        justify-content: space-between;
        /* padding: 0; para que esten alineados a los bordes mi lista y info (Aplicar en dispositivos menores de 600px) */
    }

    .mobile_header_information_actions > button {
        margin-left: 0px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        border-radius: 4px;
        font-size: 16px;
        font-weight: bold;
        outline: 0; /* para que no aparezca el borde como pulsado*/
        cursor: pointer;
        padding: 4px 36px;
        transition: opacity 400ms ease-in;
    }
    
    .mobile_header_information_actions > button > i {
        margin-right: 12px;
        font-size: 24px;
        line-height: 0.9;
    }
    
    .mobile_header_information_actions > button:first-child {
        margin-left: 0;
    }
    
    .mobile_header_information_actions > button:nth-child(odd) {
        background-color: transparent;
        color: white;
    }
    
    .mobile_header_information_actions > button:hover {
        opacity: 0.5;
    }

    /* FOOTER */
    footer > .footer_info > ul > li {
        flex: 1 0 50%;
    }
}
@media (max-width: 1000px) {
    .slider {
        --items-per-screen: 3; 
    }
}

@media (max-width: 500px) {
    .slider {
        --items-per-screen: 2; 
    }
}
